@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brandon Grotesque";
  src: url("/Brandon_Grotesque/Brandon_bld.otf") format("opentype"),
       url("/Brandon_Grotesque/Brandon_reg.otf") format("opentype"),
       url("/Brandon_Grotesque/Brandon_med.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: "Brandon Grotesque";
}
